.App {
  height: 100vh;
  /* display: flex;
  justify-content: space-around ; */
  display: grid;
  grid-template-columns: 47% 1fr;
  /* height: 100%; */
  overflow: hidden;
}
@media (max-width: 1200px) {
  .App {
    display: block;
    height: 100%;
  }
}
